/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #343434; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
  }
  
 .titol {
    text-align: center;        
    color:  #EE6352;
    font-size: 4em;
    margin-bottom: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  h1 {
    text-align: center;        
    color:  #ffffff;
    font-size: 4em;
    margin-bottom: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  #gameCanvas {
    background-color: #ffffff; /* Un color de fondo para el canvas */
  }


button {
    background-color: #97D2FB; 
    color: white; 
    padding: 10px 20px; /* Espaciado interno */
    margin-top: 40px;
    border: none;
    font-size: 24px; 
    font-weight: 800;
    cursor: pointer; 
    border-radius: 100px; 
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: white; 
    color: #97D2FB; 
}

/* Pantalla de Victoria */
#victoryScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#69DC9E;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 2;
}

#gameOverScreen {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EE6352;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 2;
}


/* Clase para ocultar la pantalla de victoria */
.hidden {
  visibility: hidden;
}
